<div id="wrap">
  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button class="navbar-toggle" data-target=".navbar-collapse"
        data-toggle="collapse" type="button"><span class="sr-only">Toggle
        navigation</span></button><a class="navbar-brand" href="/">Project
        Barbosa</a>
      </div>

      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">Home</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          {{#if session.isAuthenticated}}
            <li class="dropdown">
              <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                {{#if session.name}}
                  {{session.name}}
                {{else}}
                  {{#if session.email}}
                    {{session.email}}
                  {{else}}
                    {{session.id}}
                  {{/if}}
                {{/if}}
                &nbsp;<i class="caret"></i>
              </a>
              <ul class="dropdown-menu">
                <li><a href="/account">My Account</a></li>
                <li class="divider"></li><li>
                <a {{ action 'invalidateSession' }}>Logout</a></li>
              </ul>
            </li>
          {{else}}
            <li>{{#link-to 'login'}}Login{{/link-to}}</li>
            <li>{{#link-to 'signup'}}Create Account{{/link-to}}</li>
          {{/if}}
        </ul>
      </div>
    </div>
  </div>

  <div class="container">
    {{outlet}}
  </div>
</div>

<div id="footer">
  <div class="container text-center">
    <div>
      © 2014 Group 3 · Project Barbosa
    </div>

    <div>
      Created by Michael Cook, Yuriy Dyrenko, Casey Forsyth,
    </div>

    <div>
      James Firth, William Humphreys-Cloutier, Barret Monchka
    </div>

    <div>
      Code licensed under <a href=
      "http://opensource.org/licenses/mit-license.html">MIT License</a>
    </div>

    <div>
      Built with <a href=
      "https://github.com/sahat/hackathon-starter">hackathon-starter</a>and
      <a href="http://expressjs.com/">Express.js</a>.
    </div>
  </div>
</div>